@import '../../styles/variables';
@import '../../styles/util/fluid';
@import '../../styles/typography/classes';

.explore_signup {
  position: relative;
  width: 100%;
  margin: $spacingMD auto $spacingMD auto;

  .explore_signup_background {
    border-radius: $borderRadiusMD;
  }

  .backdrop_image {
    max-height: fluid(200, 300);
    z-index: -2;
  }

  .explore_signup_inner {
    position: relative;
    padding: fluid(60, 80);
    max-width: 800px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-radius: $borderRadiusMD;
    box-shadow: $darkBoxShadow;

    h4 {
      color: #fff;
      word-wrap: break-word;
    }

    p {
      color: #fff;
      margin-top: $spacingSM;
      margin-bottom: $spacingSM;
      font-weight: 300;
      @extend .body2;
    }

    a {
      margin: 0 auto;
    }
  }
}

@media (max-width: $mobile) {
  .explore_signup {
    .explore_signup_inner {
      width: 75%;
    }
  }
}
