@import '../../styles/variables';

.hero_services {
  width: 100%;
  padding: 24px 36px 46px 36px;
  position: relative;
  margin-top: -72px;
  border-radius: $defaultBorderRadius;
  overflow: hidden;
  box-shadow: $darkBoxShadow;

  img {
    opacity: 0.95;
  }
}

@media (max-width: $tablet) {
  .hero_services {
    padding: 24px 30px 16px 30px;
  }
}
