@import '../../styles/variables';

.hero_services {
  width: 100%;
  position: relative;
  margin-top: -72px;
  border-radius: $borderRadiusMD;
  overflow: hidden;
  box-shadow: $darkBoxShadow;
  padding: $spacingXS $spacingXS;

  .hero_services_items {
    display: flex;
    gap: $spacingSM;
  }

  img {
    opacity: 0.95;
  }
}

@media (max-width: $mobile) {
  .hero_services {
    .hero_services_items {
      display: block;
    }
  }
}
