@import '../../styles/variables';

.usp_item {
  flex: 1;

  img {
    margin-bottom: 14px;
  }
}

@media (max-width: $tablet) {
  .usp_item {
    text-align: left;
    max-width: 50%;
    display: inline-block;
    margin-bottom: 64px;
  }
}

@media (max-width: $mobile) {
  .usp_item {
    text-align: left;
    width: 75%;
    max-width: 400px;
    display: block;
    margin: 0 auto 64px auto;
  }
}
