@import '../../styles/variables';

.testimonial_item {
  margin: $spacingSM 0 $spacingXS 0;
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  position: relative;

  span {
    color: $ukeGitBlue;
    margin-top: 4px;
    display: block;
    font-family: $titleFont;
  }

  p {
    margin-top: $spacingXXS;
  }
}
