@import '../../styles/variables';

.usp {
  max-width: $mainInnerContainerMaxWidth;
  margin: 0 auto;

  h2 {
    margin-bottom: $spacingMD;
  }

  .usp_items {
    display: flex;
    gap: $spacingSM;
  }
}

@media (max-width: $smallMobile) {
  .usp {
    .usp_items {
      display: block;
    }
  }
}
