@import '../../styles/variables';

.usp {
  max-width: $mainInnerContainerMaxWidth;
  margin: 0 auto;

  h4 {
    margin-bottom: $defaultMargin;
    font-size: 34pt;
  }
}

@media (max-width: $smallDesktop) {
  .usp {
    h4 {
      font-size: 28pt;
      margin-bottom: $smallMargin;
    }
  }
}

@media (max-width: $mobile) {
  .usp {
    h4 {
      margin-bottom: 80px;
      font-size: 22pt;
    }
  }
}
