@import '../../styles/variables';
@import '../../styles/util/fluid';

.button_link {
  display: inline-block;
  max-width: max-content;
}

.button {
  border-radius: 50px;
  color: #fff;
  border: 2px solid #fff;
  min-width: max-content;
  padding: 10px 18px 10px 18px;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  transition: background 0.15s ease, color 0.15s ease;
  z-index: 2;
  position: relative;
  background: transparent;
  outline: none;

  &:link,
  &:visited,
  &:active {
    color: #fff;
    text-decoration: none;
  }

  &:not(.disabled) {
    &:hover {
      background: #fff;
      color: $ukeGitBlue;
      text-decoration: none;
      cursor: pointer;
    }

    &.filled {
      &:hover {
        background: #fff;
        color: $ukeGitBlue;
        text-decoration: none;
      }
    }
  }

  &.filled {
    background: $ukeGitBlue;
    border: 2px solid $ukeGitBlue;
  }

  &.disabled {
    opacity: 0.25;
  }
}
