@import '../styles/variables';

.costs_calculator {
  text-align: center;
  box-shadow: $defaultBoxShadow;
  border: 1px solid #dfdfdf;
  border-radius: $defaultBorderRadius;
  padding: 32px;
  max-width: 396px;
  margin-top: 80px;
  position: relative;
  font-family: $paragraphFont;
  letter-spacing: 1px;
  font-size: 12pt;

  label {
    display: block;
    margin-top: 40px;
    margin-bottom: 8px;
  }

  .privacy {
    max-width: 75%;
    margin: 16px auto;
  }

  a {
    margin-top: 40px;
    width: 100%;
  }

  select ~ img {
    width: 18px;
    height: 18px;
    position: absolute;
    margin-top: 16px;
    right: 48px;
    opacity: 0.3;
    transition: opacity 0.25s ease;
    pointer-events: none;
  }

  select {
    &:hover {
      & ~ img {
        opacity: 1;
      }
    }

    &:focus {
      opacity: 1;
      & ~ img {
        opacity: 1;
      }
    }
  }

  select,
  input {
    text-align: center;
    width: 100%;
    padding: 16px;
    color: #333;
    border-radius: $defaultBorderRadius;
    border: 1px solid #ddd;
    background: #fff;
    -webkit-appearance: none;
    transition: border 0.25s ease;

    &:hover {
      border: 1px solid #555;
    }

    &:focus {
      outline: none;
      border: 1px solid $ukeGitBlue;
    }
  }

  .spinner {
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    user-select: none;
    z-index: 3;
  }

  .price {
    text-align: center;
    font-size: 18pt;
    font-family: $titleFont;
    width: 80%;
    margin: 0 auto;
  }

  .errors {
    color: #ff4f4f;
    margin: 16px auto;
    padding: 8px;
    font-family: $paragraphFont;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    background: #fff;
    z-index: 1;
    font-size: 12pt;
  }
}

@media (max-width: $tablet) {
  .costs_calculator {
    font-size: 10pt;
  }
}
