@import "../styles/variables";

.costs_calculator {
    text-align: center;
    box-shadow: $defaultBoxShadow;
    border: 1px solid #dfdfdf;
    border-radius: 25px;
    padding: 32px;
    max-width: 396px;
    font-family: $paragraphFont;
    margin-top: 80px;

    label {
        display: block;
        margin-top: 24px;
        margin-bottom: 8px;
    }

    a {
        margin-top: 48px;
        width: 100%;
    }

    select, input {
        text-align: center;
        width: 100%;
        padding: 16px;
        color: #333;
        border-radius: 24px;
        border: 1px solid #ddd;

        &:focus {
            outline: none;
        }
    }
}
