@import '../../styles/variables';
@import '../../styles/nav';
@import '../../styles/typography/classes';

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    height: max-content;
  }

  .nav {
    padding-top: 56px;

    ul {
      list-style-type: none;

      li {
        display: inline;

        a {
          margin: 0 16px 18px 16px;
          font-family: $paragraphFont;
          position: relative;
          display: inline-block;
        }
      }
    }
  }

  .logo {
    width: max-content;
  }

  &.black {
    nav {
      ul {
        li {
          display: inline;

          a {
            color: #000;
          }
        }
      }
    }
  }
}

@media (max-width: $smallDesktop) {
  .header {
    display: block;
    text-align: center;

    .nav {
      padding-top: 0;
      text-align: center;

      a {
        padding: 8px 0 8px 0;
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width: $smallDesktop) {
  .header {
    .nav {
      ul {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: $mobile) {
  .header {
    text-align: left;

    nav {
      &:not(.show) {
        display: none;
      }

      &.show {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(#1193f5, 0.95);
        width: 100%;
        height: 100%;
        max-width: unset !important;
        z-index: 999;
        margin: unset;
        color: #fff;

        ul {
          padding-left: 0;

          li {
            a {
              display: block;
              width: 100%;
              text-align: center;
              font-family: $titleFont;
              color: #fff !important;
              font-size: 18px;
              margin-left: 0;
              margin-right: 0;

              &:after {
                background: #fff;
              }
            }
          }
        }
      }

      .nav_inner {
        max-width: 100%;
        max-height: 500px;
        margin: 0 auto;

        ul {
          li {
            a {
              margin-left: 0;
              margin-right: 0;
              padding: 16px;
              margin-bottom: 0;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
