@import '../../styles/variables';
@import '../../styles/nav';
@import '../../styles/typography/classes';

$logoCorrectionPx: -12px;

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    height: max-content;
  }

  .nav {
    padding-top: 56px;

    ul {
      list-style-type: none;

      li {
        display: inline;

        a {
          margin: 0 16px 18px 16px;
          font-family: $paragraphFont;
          position: relative;
          display: inline-block;
        }
      }
    }
  }

  .logo_link {
    & > span {
      transform: translateX($logoCorrectionPx);
    }
  }

  &.black {
    nav {
      ul {
        li {
          display: inline;

          a {
            color: #000;
          }
        }
      }
    }
  }
}

@media (max-width: $smallDesktop) {
  .header {
    display: block;
    text-align: center;

    .logo_link {
      & > span {
        transform: translateX(0);
      }
    }

    .nav {
      padding-top: 0;
      text-align: center;

      a {
        padding: 8px 0 8px 0;
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width: $smallDesktop) {
  .header {
    .nav {
      ul {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: $mobile) {
  .header {
    text-align: left;

    .logo_link {
      & > span {
        transform: translateX($logoCorrectionPx);
      }
    }

    nav {
      transition: opacity 0.25s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: unset !important;
      margin: unset;
      color: #fff;
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      background: rgba($ukeGitBlue, 0.75);
      z-index: 999;

      .nav_inner {
        padding-left: 0;

        li {
          a {
            display: block;
            width: 100%;
            text-align: center;
            font-family: $titleFont;
            color: #fff !important;
            margin: 0 0 $spacingXS 0;
            padding: 8px;
            font-size: 18px;
            opacity: 0;

            &:after {
              background: #fff;
            }
          }
        }
      }

      &:not(.show) {
        opacity: 0;
        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
      }

      &.show {
        opacity: 1;

        .nav_inner {
          li {
            a {
              opacity: 1;
            }

            @for $i from 1 through 6 {
              &:nth-of-type(#{$i}) {
                a {
                  transition: opacity 0.5s (0.15s * $i) ease;
                }
              }
            }
          }
        }
      }
    }
  }
}
