@import '../../styles/variables';
@import '../../styles/typography/classes';

.content_block {
  .content_block_row {
    display: flex;
  }

  .image {
    margin-left: $spacingSM;
    border-radius: 16px;
  }

  .no_image {
    max-width: 80%;
  }
}

@media (max-width: $smallDesktop) {
  .content_block {
    .content_block_row {
      display: flex;
    }

    .content_block_content {
      margin-bottom: $spacingSM;
    }
  }
}

@media (max-width: $smallMobile) {
  .content_block {
    .content_block_row {
      display: block;

      &.swapOnMobile {
        display: grid;

        :first-child {
          order: 1;
        }
      }
    }

    .image {
      display: block;
      margin: $spacingSM auto $spacingSM auto;
      text-align: center;
      height: auto;
    }
  }
}
