@import '../../styles/variables';
@import '../../styles/typography/classes';

.content_block {
  .content_block_row {
    display: flex;
  }

  .asset {
    margin-left: $spacingSM;
    border-radius: 16px;
  }

  .no_asset {
    max-width: 80%;
  }

  a {
    @extend .link;
  }

  p {
    margin-top: $spacingXXS;
    margin-bottom: $spacingXS;
  }
}

@media (max-width: $smallDesktop) {
  .content_block {
    .content_block_row {
      display: flex;
    }

    .content_block_content {
      margin-bottom: $spacingSM;
    }
  }
}

@media (max-width: $smallMobile) {
  .content_block {
    .content_block_row {
      display: block;

      &.swapOnMobile {
        display: grid;

        :first-child {
          order: 1;
        }
      }
    }

    .asset {
      display: block;
      margin: $spacingSM auto $spacingSM auto;
      text-align: center;
      height: auto;
    }
  }
}
