@import "../../styles/variables";

.button {
    border-radius: 50px;
    color: #fff;
    border: 2px solid #fff;
    min-width: 224px;
    max-width: 250px;
    padding: 8px;
    transition: color 0.16s ease, background 0.16s ease;
    letter-spacing: 2px;
    font-size: 11pt;
    text-decoration: none;
    display: block;
    text-align: center;

    &:link,
    &:visited,
    &:active {
        color: #fff;
    }

    &:hover {
        background: #fff;
        color: $ukeGitBlue;
        text-decoration: none;
    }

    &.filled {
        padding: 100px;
        background-color: black;
        border: 2px solid black;
    }
}
