.header {
    margin-bottom: 175px;
}

.nav {
    float: right;
    padding: 40px;

    a {
        margin-left: 40px;

        &.black {
            &:link, &:visited, &:active {
                color: #000;
            }

            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }
    }
}
