@import "./styles/variables";
@import "./styles/nav";

.header {
    margin-bottom: 175px;

    .nav {
        float: right;
        padding-top: 56px;

        a {
            margin-left: 20px;
            margin-right: 20px;
            font-size: 11pt;
            font-family: $paragraphFont;
            position: relative;
            display: inline-block;
        }
    }

    .logo {
        max-width: 100%;
        min-width: 200px;
    }

    &.black {
        nav {
            a {
                color: #000;
            }
        }
    }
}

@media (max-width: $tablet) {
    .header {
        text-align: center;
        margin-bottom: 8%;

        .nav {
            float: none;
            text-align: left;
            margin: 0 auto;
            max-width: 600px;

            a {
                padding: 8px 0 8px 0;
                margin-bottom: 24px;
            }
        }
    }
}

@media (max-width: $mobile) {
    .header {
        text-align: left;
        margin-bottom: 25%;

        nav {
            &:not(.show) {
                display: none;
            }

            &.show {
                display: flex;
                text-align: center;
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(#1193f5, 0.95);
                width: 100%;
                height: 100%;
                max-width: unset !important;
                align-items: flex-start;
                z-index: 999;
                padding: 48px;
                margin: unset;
                color: #fff;

                a {
                    display: block;
                    width: 100%;
                    font-size: 24px;
                    text-align: center;
                    font-family: $titleFont;
                    color: #fff !important;

                    &:after {
                        background: #fff;
                    }
                }
            }

            .nav_inner {
                max-width: 50%;
                max-height: 500px;
                margin: 10% auto;

                a {
                    margin-left: 0;
                    padding: 16px;
                    margin-bottom: 0;
                }
            }
        }
    }
}
