@import '../styles/variables';

.success_message {
  max-width: 300px;
  background: $success;
  border: 1px solid rgb(104, 189, 104);
  border-radius: 20px;
  color: rgb(48, 152, 48);
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  display: flex;
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;

  img {
    display: block;
    margin-left: 16px;
    margin-top: 3px;
    opacity: 0.45;
    transition: opacity 0.25 ease;
    width: 15px;
    height: 15px;
    &:hover {
      opacity: 0.75;
    }
  }
}

.custom_form {
  max-width: 550px;

  fieldset {
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    margin: 0;
    padding: 0;
  }

  button[type='submit'] {
    margin-top: 24px;
    padding: 12px;
    max-width: 164px;
    outline: none;
    border: 2px solid $ukeGitBlue;
    border-radius: 40px;
    width: 100%;
    transition: background 0.15s ease, color 0.15s ease;
    font-family: $paragraphFont;
    font-size: 16px;
    background: $ukeGitBlue;
    color: #fff;

    &:not(:disabled) {
      &:hover,
      &:focus,
      &:active {
        border: 2px solid $ukeGitBlue;
        color: $ukeGitBlue;
        background: #fff;
      }
    }

    &:disabled {
      opacity: 0.25;
    }
  }

  label {
    display: block;
    margin: 24px 16px 4px 16px;
  }

  input,
  textarea {
    background: #fff;
    border-radius: 50px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    transition: border 0.15s ease, background 0.15s ease;

    &:not([type='radio']):not([type='checkbox']) {
      width: 100%;
    }

    &:focus {
      outline: none;
      border: 1px solid $ukeGitBlue;
    }

    &:hover {
      &:not(:focus) {
        border: 1px solid #555;
      }
    }
  }

  textarea {
    height: 200px;
    border-radius: 25px;
  }

  :global {
    .field-radio-group {
      div {
        display: inline-block;
        margin-right: 16px;
      }
    }

    .form-group {
      div {
        ul.error-detail {
          list-style-type: none;
          padding-left: 0;
          margin: 0 16px 4px 16px;
          li {
            color: $errors;
            font-size: 10pt;
          }
        }
      }
    }

    .checkbox,
    .radio {
      margin-right: 0 !important;

      label {
        margin: 0;
      }
      span {
        margin-left: 0;
        padding: 16px;
      }
    }

    input[type='checkbox'],
    input[type='radio'] {
      min-width: 0;
    }
  }
}

@media (max-width: $mobile) {
  .custom_form {
    max-width: 100%;

    fieldset {
      grid-column-gap: 8px;
      grid-template-columns: repeat(1, 1fr);
    }

    :global {
      .field-radio-group {
        div {
          padding: 16px;
        }
      }

      .checkbox {
        padding: 16px 0 16px 0;
      }
    }
  }
}
