@import '../../styles/variables';

.menu_button {
  border-radius: 50px;
  outline: none;
  background: #fff;
  padding: 14px;
  border: none;
  position: fixed;
  right: 32px;
  margin: 0 auto;
  bottom: 36px;
  z-index: 9999;
  box-shadow: $lightBoxShadow;
  transition: background 0.2s ease;
  display: none;

  &:hover {
    background: #ededed;
  }

  &:active,
  &:focus {
    background: #fff;
  }

  img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    padding-top: 2px;
  }
}

@media (max-width: $tablet) {
  //
}

@media (max-width: $mobile) {
  .menu_button {
    display: flex;
  }
}
