@import 'variables';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
}

.spinner {
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  -webkit-user-select: none;
  user-select: none;
  z-index: 3;
}

.container {
  width: 100%;
}

.hidden {
  display: none;
}

.privacy-text {
  margin-top: 16px;
  opacity: 0.75;
  font-style: italic;
}

span:has(.section_background, .hero_background_image) {
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

.hero_background_image {
  &.darken {
    filter: brightness(0.6);
  }
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    text-decoration: none;
    color: #fff;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &.text {
    display: inline-block;
    color: #222;
    transition: border-bottom 0.15s ease;
    border-bottom: 1px solid #222;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 14px;

    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

.signup-form {
  #root {
    div {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12) {
        grid-column: span 2;
      }
    }
  }
}

.maintenance-form {
  #root {
    div {
      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        grid-column: span 2;
      }
    }
  }
}

.contact-form {
  #root {
    div {
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        grid-column: span 2;
      }
    }
  }
}

.main-container {
  margin: 0 auto;
  max-width: $mainContainerMaxWidth;
  padding: 0 $spacingSM 0 $spacingSM;

  &.body {
    margin: $spacingMD auto $spacingMD auto;
  }

  &.header {
    padding-top: 20px;
  }
}

.grecaptcha-badge {
  // 'display: none' breaks spam check
  visibility: hidden;
}

.header-main-container {
  min-height: inherit;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: $mobile) {
  .signup-form {
    #root {
      div {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12) {
          grid-column: unset;
        }
      }
    }
  }

  .maintenance-form {
    #root {
      div {
        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          grid-column: unset;
        }
      }
    }
  }

  .contact-form {
    #root {
      div {
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          grid-column: unset;
        }
      }
    }
  }
}
