@import '../styles/util/fluid';

/* colors */
$ukeGitBlue: #0077d1;
$mainBgColor: #fff;
$errors: #f35f5f;

$error: #f35f5f;
$success: #6dd66d;

/* border radius */
$borderRadiusSM: 16px;
$borderRadiusMD: 25px;

/* fonts */
$titleFont: 'Salsa', cursive;
$paragraphFont: 'Open Sans', sans-serif;

/* layout */
$mainContainerMinWidth: 320px;
$mainContainerMaxWidth: 1440px;
$mainInnerContainerMaxWidth: 1024px;

$mainContainerMinWidthInt: 320;
$mainContainerMaxWidthInt: 1440;

/* shadows */
$defaultBoxShadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
$lightBoxShadow: 0 4px 8px rgba(0, 0, 0, 0.15);
$darkBoxShadow: 4px 4px 16px rgba(0, 0, 0, 0.25);

/* breakpoints */
$smallDesktop: 1200px;
$tablet: 992px;
$mobile: 768px;
$smallMobile: 550px;

/* spacings */
$spacingXXS: fluid(8, 16);
$spacingXS: fluid(16, 32);
$spacingSM: fluid(32, 64);
$spacingMD: fluid(64, 128);
$spacingLG: fluid(128, 256);
$spacingXL: fluid(256, 512);
