@import "../styles/variables";

.usp {
    margin: 160px auto 128px auto;
    width: 100%;
    max-width: $mainInnerContainerMaxWidth;
    padding: 0;

    h4 {
        margin-bottom: 128px;
        font-size: 34pt;
    }
}

@media (max-width: $tablet) {
    .usp {
        h4 {
            font-size: 22pt;
        }
    }
}
