@import '../styles/variables';

.usp_item {
  margin: 24px 0 112px 0;

  img {
    margin-bottom: 14px;
  }
}

@media (max-width: $tablet) {
  .usp_item {
    text-align: center;
    max-width: 50%;
    display: inline-block;
    margin-bottom: 64px;
  }
}

@media (max-width: $mobile) {
  .usp_item {
    text-align: center;
    max-width: 80%;
    display: block;
    margin: 0 auto 64px auto;
  }
}
