@import '../styles/variables';

.testimonials {
  background: url('/images/background/testimonials_background.png') top no-repeat;
  background-size: cover;
  height: 900px;
  margin-bottom: $defaultMargin;
  padding: 264px 20px 20px 20px;

  .testimonials_inner {
    margin: 0 auto;
    max-width: $mainInnerContainerMaxWidth;
    position: relative;

    *:focus {
      outline: none;
    }

    /* 
      hacky way/fix to override the carousel's item & 1 pixel bug
    */
    & > div > div > div > div {
      border: 1px solid transparent;
    }

    /* 
      hacky way to override the carousel's 
      arrows' style which only appear during runtime 
    */
    button {
      background: none;
      border: none;
      outline: none;
      color: #fff;
      box-shadow: none !important;
      font-size: 26pt;
      border: 1px solid transparent;
      opacity: 0.75;
      transition: opacity 0.15s ease;

      &:hover {
        background: none !important;
        box-shadow: none;
        opacity: 1;
      }

      &:nth-child(1) {
        background: none !important;
      }

      &:nth-child(3) {
        background: none !important;
      }
    }

    h4 {
      color: #fff;
    }

    article {
      margin-top: 46px;
      background: #fff;
      box-shadow: $defaultBoxShadow;
      border-radius: 16px;
      padding: 24px;

      span {
        color: $ukeGitBlue;
        margin-top: 4px;
        display: block;
        font-family: $titleFont;
        font-size: 11pt;
      }

      p {
        margin-top: 24px;
      }
    }

    a {
      margin-top: 56px;
    }
  }
}

@media (max-width: $smallDesktop) {
  .testimonials {
    margin-bottom: $smallMargin;
    padding: 140px 20px 20px 20px;
    height: auto;
  }
}

@media (max-width: $mobile) {
  .testimonials {
    padding: 140px 20px 20px 20px;
    height: auto;

    .testimonials_inner {
      h4 {
        font-size: 22pt;
        text-align: center;
      }

      a {
        margin: 40px auto;
        display: block;
        max-width: 75%;
      }
    }
  }
}
