@import '../styles/variables';

.testimonials {
  position: relative;
  height: 900px;
  margin-bottom: $defaultMargin;
  padding: 264px 20px 20px 20px;

  .testimonials_background {
    object-fit: unset;
  }

  .testimonials_inner {
    margin: 0 auto;
    max-width: $mainContainerMaxWidth;
    position: relative;

    *:focus {
      outline: none;
    }

    /* 
      hacky way/fix to override the carousel's item & 1 pixel bug
    */
    & > div > div > div > div {
      border: 1px solid transparent;
    }

    /* 
      hacky way to override the carousel's 
      arrows' style which only appear during runtime 
    */
    button {
      background: none;
      border: none;
      outline: none;
      color: #fff;
      box-shadow: none !important;
      font-size: 26pt;
      border: 1px solid transparent;
      opacity: 0.75;
      transition: opacity 0.15s ease;

      &:hover {
        background: none !important;
        box-shadow: none;
        opacity: 1;
      }

      &:nth-child(1) {
        background: none !important;
      }

      &:nth-child(3) {
        background: none !important;
      }
    }

    h4 {
      color: #fff;
    }

    article {
      margin-top: 46px;
      background: #fff;
      box-shadow: $defaultBoxShadow;
      border-radius: 16px;
      padding: 24px;

      span {
        color: $ukeGitBlue;
        margin-top: 4px;
        display: block;
        font-family: $titleFont;
        font-size: 11pt;
      }

      p {
        margin-top: 24px;
      }
    }

    a {
      margin-top: 56px;
    }
  }

  :global {
    .rec-carousel-wrapper {
      .rec-carousel {
        .rec-slider-container {
          .rec-slider {
            .rec-carousel-item {
              .rec-swipable {
                .rec-item-wrapper {
                  padding: 0 !important;
                  padding-right: 8px !important;
                  padding-left: 8px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $smallDesktop) {
  .testimonials {
    margin-bottom: $smallMargin;
    padding: 140px 20px 20px 20px;
    height: auto;

    .testimonials_background {
      object-fit: cover;
    }
  }
}

@media (max-width: $mobile) {
  .testimonials {
    padding: 140px 20px 20px 20px;
    height: auto;

    .testimonials_inner {
      h4 {
        font-size: 22pt;
        text-align: center;
      }

      a {
        margin: 40px auto;
        display: block;
        max-width: 75%;
      }

      article {
        max-height: 264px;
        overflow-y: scroll;
      }
    }
  }
}
