@import '../variables';
@import '../util/fluid';

/** 
  Allow elements to appear like a h1, h2, h3 etc.
*/

.h1 {
  font-size: fluid(36, 48);
}

.h2 {
  font-size: fluid(28, 36);
}

.h3 {
  font-size: fluid(26, 28);
}

.h4 {
  font-size: fluid(22, 26);
}

.h5 {
  font-size: fluid(18, 22);
}

.h6 {
  font-size: fluid(16, 18);
}

.body1 {
  font-size: fluid(13, 16);
  font-family: $paragraphFont;
  letter-spacing: 1px;
}

.body2 {
  font-size: fluid(14, 20);
  font-family: $paragraphFont;
  letter-spacing: 1px;
}

.button {
  font-size: fluid(14, 16);
  font-family: $paragraphFont;
}

.caption {
  font-size: fluid(10, 13);
  font-family: $paragraphFont;
  letter-spacing: 1px;
}

.link {
  color: #333;
  text-decoration: underline;

  &:link,
  &:visited,
  &:active {
    color: #222;
    text-decoration: underline;
  }

  &:hover {
    text-decoration: none;
    color: #222;
  }
}
