@import '../../styles/variables';
@import '../../styles/nav';

.footer {
  color: #fff;
  padding: 40px;
  font-family: $paragraphFont;
  font-size: 11pt;
  position: relative;

  .inner_container {
    justify-content: space-between;

    & > div {
      flex: 1;
    }
  }

  .disclaimer {
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 10pt;
    justify-content: center;
    gap: 4px;
  }

  .footer_nav {
    padding: 0;

    h3 {
      margin-bottom: 32px;
    }

    nav {
      div {
        display: block;
        margin-bottom: 4px;

        a {
          padding: 6px 0 6px 0;
          display: inline-block;
        }
      }
    }
  }

  .footer_contact {
    text-align: center;

    span {
      display: block;
      margin-top: 16px;
    }

    a {
      display: block;
      margin: 32px auto 32px auto;
    }
  }

  .footer_companydetails {
    text-align: right;

    span {
      display: block;
      margin-top: 16px;
    }
  }
}

@media (max-width: $tablet) {
  .footer {
    & > div {
      display: flex;
      padding: 0;
      justify-content: space-between;
    }
  }
}

@media (max-width: $mobile) {
  .footer {
    padding-bottom: 60px;
    padding: 24px;

    h3 {
      font-size: 14pt;
    }

    & > div {
      display: block;

      .footer_nav {
        display: block;
        text-align: center;
        margin-bottom: 36px;
        padding-bottom: 24px;
        border-bottom: 2px solid rgba(33, 33, 33, 0.15);

        nav {
          div {
            display: inline-block;
            a {
              margin: 0 auto;
              padding: 16px;
              text-align: center;
            }
          }
        }
      }

      .footer_contact {
        text-align: center;
        margin-bottom: 36px;
        padding-bottom: 24px;
        border-bottom: 2px solid rgba(33, 33, 33, 0.15);

        a {
          display: block;
          max-width: 75%;
          margin: 24px auto 24px auto;
        }
      }

      .footer_companydetails {
        text-align: center;
        padding-bottom: 36px;
        border-bottom: 2px solid rgba(33, 33, 33, 0.15);

        span {
          margin-top: 16px;
        }
      }
    }
  }
}
