@import '../../styles/variables';
@import '../../styles/util/fluid';
@import '../../styles/typography/classes';

.testimonials {
  position: relative;
  margin: $spacingMD 0 $spacingMD 0;

  .swiper_outer_container {
    display: flex;
    gap: $spacingXS;
    align-items: center;

    button {
      border-radius: 100%;
      width: fluid(56, 72);
      height: fluid(56, 72);
      min-width: fluid(56, 72);
      padding: 16px;
      background: rgb(26 151 245 / 40%);
      outline: none;
      border: 1px solid transparent;
      transition: background 0.2s ease;

      &:not(:disabled) {
        &:hover,
        &:focus {
          cursor: pointer;
          background: rgb(26 151 245 / 60%);
        }
      }

      &:disabled {
        background: rgb(26 151 245 / 30%);
        object {
          opacity: 0.2;
        }
      }

      object {
        pointer-events: none;
        filter: invert(100%);
      }
    }

    .swiper_container {
      width: 100%;
      overflow: hidden;
    }
  }

  .quote {
    position: absolute;
    width: 400px;
    height: auto;
    transform: translate(-64px, -200px);
    opacity: 0.5;
    z-index: -1;
    user-select: none;
    pointer-events: none;
  }

  .testimonials_inner {
    margin: 0 auto;
    position: relative;
    padding-top: $spacingSM;
    padding-bottom: $spacingSM;
    box-sizing: border-box;

    h2 {
      color: #fff;
    }

    a {
      display: block;
      margin: $spacingSM auto 0 auto;
    }
  }
}

@media (max-width: $smallDesktop) {
  .testimonials {
    height: auto;

    .quote {
      width: 200px;
      transform: translate(-32px, -100px);
    }

    .testimonials_background {
      object-fit: cover;
    }
  }
}

@media (max-width: $mobile) {
  .testimonials {
    .swiper_outer_container {
      flex-wrap: wrap;
      justify-content: flex-end;
      .swiper_container {
        order: -1;
      }
    }
  }
}
