@import '../../styles/variables';
@import '../../styles/util/fluid';
@import '../../styles/typography/classes';

.testimonials {
  position: relative;
  margin: $spacingMD 0 $spacingMD 0;
  user-select: none;

  .swiper_outer_container {
    display: flex;
    gap: $spacingXS;
    align-items: center;

    button {
      border-radius: 100%;
      width: fluid(56, 72);
      height: fluid(56, 72);
      min-width: fluid(56, 72);
      padding: 16px;
      background: rgba($ukeGitBlue, 0.75);
      outline: none;
      border: 1px solid transparent;
      transition: border 0.15s ease;

      &:not(:disabled):hover {
        border: 1px solid #fff;
      }

      object {
        pointer-events: none;
        filter: invert(100%);
      }
    }

    .swiper_container {
      width: 100%;
      overflow: hidden;
    }
  }

  .quote {
    position: absolute;
    height: auto;
    width: 400px;
    transform: translate(-64px, -200px);
    opacity: 0.5;
    z-index: -1;
  }

  .testimonials_background {
    z-index: -2;
  }

  .testimonials_inner {
    margin: 0 auto;
    position: relative;
    padding-top: $spacingSM;
    padding-bottom: $spacingSM;
    box-sizing: border-box;

    h4 {
      color: #fff;
    }

    article {
      margin-top: $spacingSM;
      background: #fff;
      border-radius: 16px;
      padding: 24px;
      position: relative;

      h3 {
        @extend .h6;
      }

      span {
        color: $ukeGitBlue;
        margin-top: 4px;
        display: block;
        font-family: $titleFont;
      }

      p {
        margin-top: $spacingXXS;
      }
    }

    a {
      display: block;
      margin: $spacingSM auto 0 auto;
    }
  }
}

@media (max-width: $smallDesktop) {
  .testimonials {
    height: auto;

    .quote {
      width: 200px;
      transform: translate(-32px, -100px);
    }

    .testimonials_background {
      object-fit: cover;
    }
  }
}

@media (max-width: $mobile) {
  .testimonials {
    .swiper_outer_container {
      flex-wrap: wrap;
      justify-content: flex-end;
      .swiper_container {
        order: -1;
      }
    }
  }
}
