@import '../../styles/variables';
@import '../../styles/typography/classes';

.about_me_summary {
  max-width: $mainInnerContainerMaxWidth;
  margin: 0 auto;

  h2 {
    margin-bottom: $spacingXS;
  }

  .about_me_summary_inner {
    display: flex;
    gap: $spacingXS;
    align-items: center;

    .image {
      margin-right: $spacingXS;

      & > span {
        border-radius: 100%;
        box-shadow: $defaultBoxShadow;
        width: fluid(176, 240) !important;
        height: fluid(176, 240) !important;
      }
    }

    p {
      margin: 0;
      padding: 0;
    }

    a {
      margin-top: $spacingXXS;
    }
  }
}

@media (max-width: $smallMobile) {
  .about_me_summary {
    text-align: center;

    .about_me_summary_inner {
      display: block;
      img {
        margin: 0 0 $spacingXS 0;
      }
    }
  }
}
