@import "../styles/variables";

.hero_services_item {
    padding: 0 16px 0 16px;
    color: #fff;

    p {
        margin-top: 12px;
        font-weight: 300;
    }

    img {
        margin-bottom: 18px;
        fill: #fff;
    }
}

@media (max-width: $tablet) {
    .hero_services_item {
        p {
           margin-bottom: 40px;
        }
    }
}