@import '../styles/variables';

.about_me_summary {
  max-width: $mainInnerContainerMaxWidth;
  margin: 0 auto;
  padding: 0;

  h4 {
    font-size: 28pt;
    padding: 0;
  }

  .about_me_summary_image {
    margin-top: 44px;
    border-radius: 16px;
    margin-right: 16px;
    display: block;
  }

  .about_me_summary_content {
    margin-top: 44px;
    margin-left: $smallMargin;
    padding: 0;

    p {
      padding: 0;
      margin: 0;
      margin-bottom: 36px;
    }

    button {
      margin-top: 50px;
    }
  }
}

@media (max-width: $mobile) {
  .about_me_summary {
    margin: 60px auto;
    text-align: center;

    .about_me_summary_image {
      width: 50%;
      height: unset;
      margin-left: auto;
      margin-right: auto;
    }

    .about_me_summary_content {
      margin-left: 0;
      text-align: justify;

      a {
        display: block;
        margin: 0 auto;
      }

      button {
        margin-top: 0;
      }
    }
  }
}
