@import '../styles/variables';

.services_item {
  display: block;
  width: 300px;
  background: #000;
  height: 200px;
  transition: background 0.25s ease;
  box-shadow: $defaultBoxShadow;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    z-index: 1;
    opacity: 0.75;
    transition: opacity 0.25s ease;
  }

  .divider {
    display: block;
    background: #fff;
    height: 3px;
    width: 80px;
    margin: 16px auto 16px auto;
    z-index: 3;
    transition: background 0.25s 0.05s ease, width 0.25s 0.05s ease;
  }

  h3 {
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 24pt;
    text-align: center;
    transition: color 0.15s ease;
  }

  &:hover {
    background: #fff;

    img {
      opacity: 0.9;
    }

    .divider {
      background: $ukeGitBlue;
      width: 100px;
    }
  }
}

@media (max-width: $smallDesktop) {
  .services_item {
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

@media (max-width: $mobile) {
  .item_container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
