@import './variables';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titleFont;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

h2 {
  font-size: 52pt;
  font-weight: normal;
}

h3 {
  font-size: 14pt;
  font-weight: normal;
}

h4 {
  font-size: 34pt;
  font-weight: normal;
}

p {
  font-family: $paragraphFont;
  letter-spacing: 1px;
  font-size: 12pt;
  line-height: 2.3rem;
}

button {
  letter-spacing: 1px;
}

@media (max-width: $tablet) {
  h1 {
    //
  }

  h2 {
    font-size: 36pt;
  }

  h3 {
    font-size: 13pt;
  }

  h4 {
    font-size: 24pt;
  }

  p {
    font-size: 10pt;
  }
}
