@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@import './variables';
@import './fonts';

html,
body {
  height: 100%;
  margin: 0;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:active {
    text-decoration: none;
    color: #fff;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.signup-form {
  #root {
    div {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(6),
      &:nth-child(11),
      &:nth-child(12) {
        grid-column: span 2;
      }
    }
  }
}

.maintenance-form {
  #root {
    div {
      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        grid-column: span 2;
      }
    }
  }
}

.contact-form {
  #root {
    div {
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        grid-column: span 2;
      }
    }
  }
}

@media (max-width: $mobile) {
  .repair-title {
    font-size: 20pt;
  }

  .signup-form {
    #root {
      div {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(6),
        &:nth-child(11),
        &:nth-child(12) {
          grid-column: unset;
        }
      }
    }
  }

  .maintenance-form {
    #root {
      div {
        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          grid-column: unset;
        }
      }
    }
  }

  .contact-form {
    #root {
      div {
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          grid-column: unset;
        }
      }
    }
  }
}

.row-eq-height {
  display: flex;
}

.main-container {
  margin: 0 auto;
  padding: 20px 100px 0 100px;
  max-width: $mainContainerMaxWidth;
}

.pageNotFound {
  margin-bottom: 160px;
}

@media (max-width: $smallDesktop) {
  .main-container {
    padding: 20px 40px 0 40px;
  }
}
