/* colors */
$ukeGitBlue: #1193f5;
$mainBgColor: #fff;
$errors: #f35f5f;

$error: rgba(#f35f5f, 0.75);
$success: rgb(155, 255, 155, 0.75);

/* fonts */
$titleFont: 'Salsa', cursive;
$paragraphFont: 'Open Sans', sans-serif;

/* layout */
$mainContainerMaxWidth: 1440px;
$mainInnerContainerMaxWidth: 1024px;

/* shadows */
$defaultBoxShadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
$lightBoxShadow: 0 4px 8px rgba(0, 0, 0, 0.25);

/* breakpoints */
$smallDesktop: 1200px;
$tablet: 992px;
$mobile: 768px;
