/* colors */
$ukeGitBlue: #1193f5;
$mainBgColor: #fff;

/* fonts */
$titleFont: 'Salsa', cursive;
$paragraphFont: 'Open Sans', sans-serif;

/* layout */
$mainContainerMaxWidth: 1440px;
$mainInnerContainerMaxWidth: 1024px;

/* shadows */
$defaultBoxShadow: 4px 4px 8px rgba(0, 0, 0, 0.1);