@import '../styles/variables';

.content_block {
  .content_block_row {
    display: flex;
  }

  img {
    margin-left: $smallMargin;
    border-radius: 16px;
  }

  .no_image {
    max-width: 80%;
  }
}

@media (max-width: $smallDesktop) {
  .content_block {
    .content_block_row {
      display: flex;
    }

    .content_block_content {
      margin-bottom: $smallMargin;
    }
  }
}

@media (max-width: $mobile) {
  .content_block {
    .content_block_row {
      display: block;
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 50%;
      height: unset;
    }
  }
}
