@import '../styles/variables';

.about_me {
  .about_me_row {
    display: flex;
  }

  .about_me_image {
    margin-left: $smallMargin;
    border-radius: 16px;
  }
}

@media (max-width: $smallDesktop) {
  .about_me {
    .about_me_row {
      display: flex;
    }

    .about_me_content {
      margin-bottom: $smallMargin;
    }
  }
}

@media (max-width: $mobile) {
  .about_me {
    .about_me_row {
      display: block;
    }

    .about_me_image {
      display: block;
      margin: 0 auto;
      max-width: 50%;
      height: unset;
    }
  }
}
